<!-- HTML for homepage -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NEURAL NINJA - Neural Network Visualizer</title>
    <link rel="stylesheet" type="text/css" href="../css/shared.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" media="screen" />
</head>

<body>

    <div class="center-container">
        <img class="neural-icon" src="../images/neural-icon.jpg" style="width:65%">
    </div>


    <div id="open-button" class="button gray forward big center">
        <span>Open</span>
    </div>


    <a href="creationpage.html">
        <div id="create-button" class="button forward big center">
            <span>Create</span>
        </div>
    </a>

    <!--Scripts-->
    <script type="text/javascript" src="../js/resources.js"></script>
    <script type="text/javascript" src="../js/mainThreadBridge.js"></script>
    <script type="text/javascript" src="../js/functions.js"></script>
    <script type="text/javascript" src="../js/controllers/indexController.js"></script>
</body>
</html>