<!-- HTML for weight matrix page -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>NEURAL NINJA - Neural Network Visualizer</title>
	<link rel="stylesheet" type="text/css" href="../css/shared.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="../css/weightmatrix.css" media="screen" />
</head>

<body>
	<h1 class="title">Weight Matrix Visualization</h1>

	<a href="networkview.html">
		<div class="button red backward">
			<span>Back</span>
		</div>
	</a>

	<canvas id="matrix-canvas"></canvas>

	<!--Scripts-->
	<script type="text/javascript" src="../js/resources.js"></script>
	<script type="text/javascript" src="../js/mainThreadBridge.js"></script>
	<script type="text/javascript" src="../js/functions.js"></script>
	<script type="text/javascript" src="../js/controllers/weightMatrixViewController.js"></script>
</body>
</html>